h1 {
    color:white;
    font-size: 5em ;
    text-align: center;
    border: thick solid;
    background-color: black;
    border-color:white;
    font-family: Garamond, serif;
    }
    body {
      background-color: black;
    }
    
    h3 {
        color:azure;
        text-align: left;
        font-Size: 4em;
      }
      
    
    
        p {
          color: lightgrey;
          font-size: 2em;
          font-family: 'Courier New', Courier, monospace;
        }
        Button {
          color: lightblue;
          background-color: black;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 3em;
          text-align:left;
        }
        button#dererstebutton {
          position: absolute;
          left:auto;
          bottom: 62%;
        }
        button#derzweitebutton {
          position: absolute;
          left: auto;
          bottom: 50%;
        }
        button#derdrittebutton {
          position: absolute;
          left: auto;
          bottom: 38%;
        }
        button:hover {
          background-color: lightblue;
          color: black;
        }